# RPC URL - need support debug_getRawTransaction
# Mantle Mainnet example
MANTLE_URL=https://mantle-mainnet-rpc4.s7.gomantle.org

# Chain ID - Mantle Mainnet
CHAIN_ID=5000

# Starting block number to process
START_BLOCK=88550000

# Ending block number to process
END_BLOCK=88550010